<div class="field field--checkbox">
	<button type="button" class="field__wrapper validation" name="{{name}}"
	onclick="fieldCheckbox.toggle(this);
	{{action}}(`{{name}}`, this.hasAttribute(`active`));
	
	">
		<span class="field__icon"></span>
		<span class="field__label field__label--checkbox">{{label}}</span>
	</button>
</div>

